* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    margin: 44px 0 144px 76px;
}

.link_header {
    color: #989D9C;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-right: 23px;
    text-decoration: none;
}

.button_top {
    background: #665AE1;
    border-radius: 50px;
    width: 130px;
    height: 41px;
    border: none;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}

.image_logo {
    margin-left: 125px;
    display: inline-block;
}

.box {
    display: inline-block;
    margin-left: 86px;
}

.title_1 {
    color: #515151;
    font-size: 100px;
    font-weight: 900;
    line-height: 122px;
}

.title_2 {
    color: #515151;
    font-size: 58px;
    font-weight: 500;
    line-height: 71px;
}

.paragraph {
    color: #848484;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    width: 514px;
    margin-top: 32px;
    margin-bottom: 65px;
}

.button_bottom {
    background: #ADFF00;
    border-radius: 20.5px;
    border: none;
    width: 239px;
    height: 64px;
    color: #000000;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
}
